*{
    margin: 0;
    padding: 1%;
}

body{
    background-image: linear-gradient(lemonchiffon,red)
}



.cabeçalho{
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}


}

.cabeçalho-imagem{
    width: 25%;
}

.cabeçalhogeral{
    background-image: linear-gradient(lemonchiffon,red);
}

.primeira-semana-foto{
    width: 15%;

}

.corpodotexto{
    background-color: lemonchiffon;
}
