*{
    margin: 0;
    padding: 1%;
}


.cabeçalho{
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.cabeçalho-imagem{
    width: 25%;
}

.cabeçalhogeral{
    background-image: linear-gradient(blue);
}

.corpodotexto{
    background-color: red;
}

.primeira-semana{
    background-color: lemonchiffon;
}

.primeira-semana-foto{
    width: 10%;

}

.segunada-semana{
    background-color:lemonchiffon ;
}

.segunda-semana-foto{
    width: 10%;
}

.terceira-semana{
    background-color: lemonchiffon;
}

.tercira-semana-foto{
    width:10%;
}

.quarta-semana{
    background-color: lemonchiffon;
}
.quarta-semana-foto{
    width: 10%;
}

.quinta-semana{
    background-color: lemonchiffon;
}

.quinta-semana-foto{
    width:10%;
}

.corpodotexto.{
    background-image: linear-gradient(rgb(192, 33, 33));
}

.Pimenta-texto-cor{
    background-color: lemonchiffon;
}