*{
    margin: 0;
    padding: 0;
}

.body{
background-color: lemonchiffon,red;
}

.cabeçalhogeral{
    background-image: linear-gradient(blue);
}

.cabeçalho{
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.pimenta{
    background-image: linear-gradient(lemonchiffon,red);
    justify-content: center;
    align-items: center;
    
}

.cabeçalho-imagem{
    width: 25%;
}

.pimenta-div-texto{
    width: 35%;
}

.Pimenta-texto{
    display: flex;
    margin: 15px 0;
}

.primeira-semana-foto{
    width: 15%;

}

.corpodotexto{
    background-color: lemonchiffon;
}
